@use 'variables' as *;
@use 'mixins' as *;
@use 'commons' as *;
@use 'grid' as *;

.section-about {
    .container {
        max-width: 100%;
        padding: 0;
    }

    .col-7 {
        height: 70vh;
        background-image: url(/assets/section_ceramic-tiles.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 10px solid $background-color;
    }

    .col-5{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            @include font($raleway,40px,500);
            margin-bottom: 20px;
            color: $primary-color;
        }

        p {
            @include font($open-sans,18px,400);
            line-height: 20px;
            color: $secondary-color;
            margin-bottom: 20px;
        }

        .button-57 {
            width: 200px;
            align-self: flex-end;
            letter-spacing: 1px;

            &:hover {
                border: 2px solid $primary-color;
            }
        }
    }
}