@use 'variables' as *;
@use 'mixins' as *;

.btn {
    @include font($raleway, 16px, 600);
    text-decoration: none;
    text-transform: uppercase;
    color: $heading-color;
    border: 1px solid $heading-color;
    border-radius: 10px;
    padding: 15px 20px;
    transition: 0.3s;

    &:hover {
        background-color: $heading-color;
        color: $primary-color;
    }
}

.button-57 {
    @include font($raleway, 16px, 600);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: 2px solid $heading-color;
    border-radius: 15px;
    color: $heading-color;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: $primary-color;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    span {
        text-transform: uppercase;
        &:first-child {
            position: relative;
            transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
            z-index: 10;
        }

        &:last-child {
            color: white;
            display: block;
            position: absolute;
            bottom: 0;
            transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
            z-index: 100;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translateY(225%) translateX(-50%);
            height: 14px;
            line-height: 13px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $background-color;
        
        transform-origin: bottom center;
        transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
        transform: skewY(9.3deg) scaleY(0);
        z-index: 50;
    }

    &:hover:after {
        transform-origin: bottom center;
        transform: skewY(9.3deg) scaleY(2);
    }

    &:hover span:last-child {
        color: $primary-color;
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: $background-color;
    border: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $light2-color;
    border-radius: 10px;

    &:hover {
        background-color: $lighter-green;
    }
}

