@use 'variables' as *;
@use 'mixins' as *;
@use 'commons' as *;
@use 'grid' as *;

.navbar {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-logo {
            img {
                width: 50px;
                height: 50px;
            }
        }

        .hamburger {
            display: none;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;

            @media (max-width: $lg) {
                display: flex;
            }

            span {
                display: block;
                height: 3px;
                width: 25px;
                background-color: white;
            }

            &.open {
                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(1) {
                    transform: rotate(45deg) translateY(11px);
                }

                span:nth-child(3) {
                    transform: rotate(-45deg) translateY(-11px);
                }
            }
        }

        .nav-links {
            display: flex;
            list-style: none;
            margin: 0;

            @media (max-width: $lg) {
                display: none;
            }

            .navLink {
                @include font($open-sans, 16px, 600);
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 2.5px;
                color: $secondary-color;
                padding: 0 10px;
                transition: color 0.3s;

                &:hover {
                    color: $third-color;
                    border-bottom: 4px solid $third-color;
                    padding-bottom: 20px;
                }
            }

            .dropdown {
                position: relative;

                .dropdown-menu {
                    position: absolute;
                    top: 42px;
                    left: 0;
                    background-color: $secondary-color;
                    border:  1px solid $third-color;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    gap: 25px;
                    z-index: 100;

                    a {
                        @include font($open-sans, 16px, 600);
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 10px;
                        transition: 0.2s;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }

            &.mobile {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: #333;
                padding: 20px;

                @media (max-width: $lg) {
                    display: flex;
                }

                a {
                    padding: 10px 0;
                }
            }
        }
    }
}
