@use 'variables' as *;
@use 'mixins' as *;
@use 'commons' as *;
@use 'grid' as *;

.section-shop {
    max-width: 100vw;
    .page-row {
        min-height: 100vh;

        .sidebar {
            display: flex;
            flex-direction: column;
            padding: 30px;
            height: 100vh;
            overflow-y: scroll;

            @media (max-width: $lg) {
                position: fixed;
                overflow-y: hidden;
                height: 70px;
                align-items: center;
                background-color: $primary-color;
            }

            .title {
                width: 100%;
                @include font($raleway, 30px, 700);
                color: $primary-color;
                padding: 10px 0;
                border-bottom: 1px solid $primary-color;

                @media (max-width: $lg) {
                    display: none;
                }
            }

            .filter-title {
                width: 100%;
                @include font($raleway, 24px, 600);
                color: $heading2-color;
                padding: 10px 0;
                border-bottom: 1px solid $primary-color;

                @media (max-width: $lg) {
                    cursor: pointer;
                    text-align: center;
                    color: $heading-color;
                    padding: 0;
                }
            }

            h2 {
                @include font($raleway, 20px, 500);
                color: $heading2-color;
                padding: 20px 0 5px;

                @media (max-width: $lg) {
                    display: none;
                }
            }

            ul {
                @media (max-width: $lg) {
                    display: none;
                }
            }

            .checkbox-label {
                cursor: pointer;
                display: block;
                margin-top: 5px;

                &:hover {
                    span {
                        transition: 0.3s;
                        color: $dark-color;
                    }

                    input {
                        transition: 0.3s;
                        background-color: #d1d1d1;
                    }
                }

                input {
                    position: relative;
                    display: inline-block;
                    appearance: none;
                    cursor: pointer;
                    height: 24px;
                    aspect-ratio: 1/1;
                    background-color: $heading-color;
                    border: 1px solid $secondary-color;
                    border-radius: 5px;
                    transform: translateY(5px);

                    &:checked:after {
                        content: '';
                        position: absolute;
                        height: 22px;
                        aspect-ratio: 1/1;
                        border-radius: 5px;
                        background-color: $primary-color;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                span {
                    @include font($open-sans, 16px, normal);
                    color: $secondary-color;
                    margin-left: 5px;
                    text-transform: capitalize;

                    @media (max-width: $lg) {
                        color: $heading-color;
                    }
                }
            }
        }

        .openFilterMenu {
            @media (max-width: $lg) {
                position: fixed;
                overflow-y: scroll;
                height: 100vh;
                align-items: flex-start;
                background-color: $primary-color;
            }

            .filter-title {
                @media (max-width: $lg) {
                    text-align: center;
                    display: inline-block;
                    color: $dark-color;

                    &::after {
                        content: ' - X';
                        @include font($raleway, 24px, 600);
                        color: $heading-color;
                        padding: 10px 0;
                    }
                }
            }

            h2 {
                @media (max-width: $lg) {
                    display: inline-block;
                }
            }

            ul {
                @media (max-width: $lg) {
                    display: inline-block;
                }
            }
        }

        .main {
            display: flex;
            flex-wrap: wrap;
            padding: 30px;

            .search-sort {
                width: 100%;
                align-self: flex-start;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                @media (max-width: $lg) {
                    margin-top: 70px;
                    flex-direction: column;
                }

                .search {
                    @include font($open-sans, 16px, 400);
                    padding: 10px 5px;
                    width: 500px;
                    background-color: $background-color;
                    border: none;
                    border-bottom: 1px solid $dark-color;

                    &:focus {
                        color: $primary-color;
                        border-bottom: 2px solid $primary-color;
                    }

                    @media (max-width: $lg) {
                        width: 300px;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                }

                .sort {
                    @include font($open-sans, 16px, 400);

                    select {
                        @include font($open-sans, 16px, 400);
                        padding: 5px 10px;
                        border: 1px solid $dark-color;
                        border-radius: 5px;
                        color: $nav-color;
                    }
                }
            }

            .product-list {
                height: 100vh;
                overflow-y: scroll;
                align-self: flex-start;
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 100px;                

                .card-link {
                    margin: 20px;
                    width: 290px;
                    height: 450px;
                    text-decoration: none;

                    @media (max-width: $xl) {
                        width: 250px;
                    }

                    @media (max-width: $md) {
                        width: 100%;
                    }

                    .product-card {
                        display: flex;
                        flex-direction: column;

                        @media (max-width: $lg) {
                            align-items: center;
                        }

                        .itemImage {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $light2-color;
                            align-self: center;
                            width: 290px;
                            height: 290px;

                            img {
                                max-width: 290px;
                                max-height: 290px;
                            }

                            @media (max-width: $lg) {
                                height: 300px;
                                width: auto;
                            }
                        }

                        h1 {
                            @include font($raleway, 24px, 500);
                            color: $secondary-color;
                            text-transform: uppercase;
                            margin: 5px;

                            @media (max-width: $lg) {
                                text-align: center;
                            }
                        }

                        h2 {
                            @include font($open-sans, 16px, 500);
                            color: $subhead-color;
                            text-transform: capitalize;
                            margin: 5px;
                        }

                        p {
                            @include font($raleway, 30px, 500);
                            color: $secondary-color;
                            margin: 10px;
                        }
                    }

                    &:hover {
                        transition: 0.3s;
                        background-color: $primary-color;

                        h1,
                        h2,
                        p {
                            color: $heading-color;
                        }
                    }
                }
            }
        }
    }
}
