@use 'variables' as *;
@use 'mixins' as *;
@use 'commons' as *;
@use 'grid' as *;
.product-page {
    .container {
        margin-top: 50px;
        min-height: 60vh;
        margin-bottom: 100px;

        .picture-section {
            width: 100%;
            overflow-x: auto;

            .main-picture {
                position: relative;
                display: flex;
                justify-content: center;
                height: 60vh;
                object-fit: contain;
                img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }

                div[class*='arrow-'] {
                    user-select: none;
                    position: absolute;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    padding: 0 30px;
                    @include font($raleway,40px,bold);
                    color: $primary-color;

                    &:hover{
                        @include stroke($primary-color,$secondary-color);
                        cursor: pointer;
                        transition: 0.2s;
                    }
                }

                .arrow-left {
                    top: 0;
                    left: 0;                    
                }

                .arrow-right {
                    top: 0;
                    right: 0;                   
                }
            }

            .gallery {
                overflow: auto;
                white-space: nowrap;
                padding: 10px;
                height: 200px;

                img {
                    height: 200px;
                    width: 110px;
                    margin-right: 10px;
                    height: auto;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: 0.3s;

                    &:hover {
                        box-shadow: 0 4px 8px $primary-color;
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }
        }

        .product-content {
            h1 {
                @include font($raleway, 40px, 600);
                text-transform: uppercase;
                color: $secondary-color;
                padding: 10px 0;
            }

            h2 {
                @include font($raleway, 25px, 600);
                color: grey;
                text-transform: uppercase;
            }

            .product-path {
                @include font($raleway, 20px, 600);
                text-transform: uppercase;
                color: gray;
                padding: 10px 0;
            }

            h3 {
                @include font($open-sans, 60px, 600);
                text-transform: uppercase;
                color: $primary-color;
                padding: 30px 0;
            }

            h4 {
                @include font($raleway, 20px, 600);
                text-transform: uppercase;
                color: $secondary-color;
                padding: 15px 0;
            }

            p {
                @include font($open-sans, 16px, 400);
                letter-spacing: 0.5px;
                line-height: 18px;
                color: $secondary-color;
            }

            li {
                @include font($raleway, 16px, 600);
                text-transform: uppercase;
                color: $secondary-color;
                padding: 5px 0;

                &::before {
                    content: '>';
                    color: $primary-color;
                    margin-right: 8px;
                }
            }
        }

        @media (max-width: $xl) {
            [class*='col-'] {
                width: 100%;
            }
        }
    }
}
