@use 'parcels/variables' as *;
@use 'parcels/mixins' as *;
@use 'parcels/commons' as *;
@use 'parcels/grid'  as *;
@use 'parcels/navbar' as *;
@use 'parcels/footer' as *;
@use 'parcels/hero' as *;
@use 'parcels/services' as *;
@use 'parcels/products' as *;
@use 'parcels/about' as *;
@use 'parcels/contact' as *;
@use 'parcels/blog' as *;
@use 'parcels/shop' as *;
@use 'parcels/item' as *;
@use 'parcels/aboutPage' as *;
@use 'parcels/contactPage' as *;
@use 'parcels/cart' as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
    font-family: $montserrat;
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900 !important;
}


